
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-image: url('/assets/img/SageBackground.webp');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: #f3f4f6; /* fallback to gray-100 */
    }
}

@layer components {
    .header-background {
        background-image: url('/assets/img/HeaderBackground.webp');
        background-size: cover;
        background-position: center;
    }
    .is-fullscreen {
        @apply fixed top-0 left-0 w-screen h-screen z-40;
    }
}

opacity-gradient {
    mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
}
