
package layout

templ PageRefreshEvents() {
	<script>
		const eventSource = new EventSource('/events');

		eventSource.addEventListener('surveys-updated', function(event) {
			const path = window.location.pathname;
			
			// Do not refresh on survey creation/editing pages or when a user is taking a survey.
			const isAdminSurveyForm = path === '/admin/surveys/add' || /^\/admin\/surveys\/.*\/edit$/.test(path);
			const isTakingSurvey = /^\/surveys\/.+/.test(path);

			if (isAdminSurveyForm || isTakingSurvey) {
				console.log('Survey statuses updated, but page reload is suppressed on this page.');
				return;
			}
			
			console.log('Survey statuses updated on server, reloading page.');
			location.reload();
		});

		eventSource.onerror = function(err) {
			console.error("EventSource failed:", err);
			// The browser will automatically attempt to reconnect.
		};
	</script>
}
