
package admin

import (
	"net/http"
)

type Tab struct {
	Title       string
	Href        string
	Active      bool
	ActiveLinks []string
}

templ Tabs(r *http.Request, tabs []Tab) {
	<div>
		<div>
			<!-- Mobile Tabs -->
			<div class="sm:hidden">
				<label for="tabs" class="sr-only">Select a tab</label>
				<select
					id="tabs"
					name="tabs"
					class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm"
					onchange="window.location.href = this.options[this.selectedIndex].dataset.href"
				>
					for _, t := range tabs {
						if t.Active {
							<option data-href={ t.Href } selected>{ t.Title }</option>
						} else {
							<option data-href={ t.Href }>{ t.Title }</option>
						}
					}
				</select>
			</div>
			<!-- Desktop Tabs -->
			<div class="hidden sm:block">
				<div class="border-b border-gray-200">
					<nav class="-mb-px flex space-x-8" aria-label="Tabs">
						for _, t := range tabs {
							if t.Active {
								<a
									href={ templ.URL(t.Href) }
									class="border-white text-white whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
									aria-current="page"
								>
									{ t.Title }
								</a>
							} else {
								<a
									href={ templ.URL(t.Href) }
									class="border-transparent text-gray-200 hover:border-white hover:text-white whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
								>
									{ t.Title }
								</a>
							}
						}
					</nav>
				</div>
			</div>
		</div>
		<div class="mt-6 bg-white shadow sm:rounded-lg p-6">
			{ children... }
		</div>
	</div>
}
